@{
    ViewData["Title"] = "Success";
}
<div class="container">
    <img src="/img/transactional-email.png" alt="Snow" style="width:100%;">
    <link href="~/css/textoverimage.css" rel="stylesheet" asp-append-version="true" />
    <div class="centered">
        <p><strong>Благодарим Ви че се свързахте с нас!</strong></p>
        <p><strong>Оценяваме вашето мнение . Очаквайте отговор от наш служител в най-кратки срокове !</strong></p>
        <p><strong>Успешен ден !</strong></p>
    </div>
</div>