<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Продукт</th>
            <th scope="col">Чистота</th>
            <th scope="col">Купуваме</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>do</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>at</td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>witter</td>
        </tr>
    </tbody>
</table>

